<h1>Stupid Coaching</h1>

<div class="text-output">
  <strong><%= @question %></strong>
  <p><em>- You</em></p>
</div>

<div class="text-output">
  <strong><%= @answer %></strong>
  <p><em>- Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
